*,
 ::before,
*::after {
    margin: 0 auto;
    box-sizing: border-box;
}

.container {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    justify-content: center;
}

.highScore {
    border: 0;
    background-color: transparent;
}

#start-text {
    text-align: center;
}

#start-text h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-bottom: 10px;
}

.btn {
    background-color: purple;
    color: white;
    margin: 10px 20px;
    border-radius: 5px;
    padding: 10px 15px;
    outline: none;
}

.btn:hover {
    color: black;
    background-color: white;
    border: 1px solid purple;
}

.start-btn {
    background-color: purple;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.final-scores,
.list-highscores {
    margin-top: 15%;
}

.labelIni {}

.inputIni {}